In [36]:
import pandas as pd
import re
from itertools import count
from collections import defaultdict

In [2]:
new = pd.read_csv("new")

In [3]:
new.head()

,Name,Type,Inputs,Trojan,fan_in_1,Output_Type,Net,fan_in_2,fan_in_3,fan_in_4,fan_in_5,in_flipflop_4,out_flipflop_3,out_flipflop_4,out_nearest_pout
0,DFF_0_Q_reg,SDFFX1,"D(WX484),SI(test_si1),SE(test_se),CLK(CK)",0,4,Q,WX485,2,5,12,19,3,6,8,3
1,DFF_1_Q_reg,SDFFX1,"D(WX486),SI(WX485),SE(test_se),CLK(CK)",0,4,Q,WX487,6,7,14,25,4,4,7,3
2,DFF_2_Q_reg,SDFFX1,"D(WX488),SI(WX487),SE(test_se),CLK(CK)",0,4,Q,WX489,6,11,20,31,5,4,5,3
3,DFF_3_Q_reg,SDFFX1,"D(WX490),SI(WX489),SE(test_se),CLK(CK)",0,4,Q,WX491,6,11,24,37,6,4,5,3
4,DFF_4_Q_reg,SDFFX1,"D(WX492),SI(WX491),SE(test_se),CLK(CK)",0,4,Q,WX493,6,11,24,41,7,4,5,3

## Function to assign unique values to unique netlist

In [110]:
def to_ID(df,dictionary):
    
    def ID(nets):
        n = []
        if isinstance(nets,str):
            n.append(dictionary[nets])
            #print(n)
        elif isinstance(nets,list):
            n.extend(map(lambda x: dictionary[x],nets))
            
        return n
    df['Net_ID'] = df['Net'].apply(lambda x: ID(x))
    df['Inputs_ID'] = df['Inputs'].apply(lambda x: ID(re.findall("\((.*?)\)",x)))
    return df

In [111]:
def dict_func(df):
    l = []
    
    def extract(nets):
        if isinstance(nets,str):
            l.append(nets)
        elif isinstance(nets,list):
            l.extend(nets)
            
    df['Inputs'].apply(lambda x: extract(re.findall("\((.*?)\)",x)))
    df['Net'].apply(lambda x: extract(x))
    
    print("Nets: ",len(l))
    keys = list(set(l))
    print("Unique Nets:",len(keys))
    d = defaultdict(count(1).__next__)
    values = [d[k] for k in keys]
    dictionary = dict(zip(keys, values))
    net_df = pd.DataFrame(keys, index=values, columns =['Net']) 
    net_df['ID'] = values
    
    df = to_ID(df,dictionary)
    net_df.to_csv("net_df", encoding='utf-8', index=False)
    
    
    
    return df, dictionary

In [112]:
df, d = dict_func(new)

Nets:  25078
Unique Nets: 6399

In [113]:
df.head()

,Name,Type,Inputs,Trojan,fan_in_1,Output_Type,Net,fan_in_2,fan_in_3,fan_in_4,fan_in_5,in_flipflop_4,out_flipflop_3,out_flipflop_4,out_nearest_pout,Net_ID,Inputs_ID
0,DFF_0_Q_reg,SDFFX1,"D(WX484),SI(test_si1),SE(test_se),CLK(CK)",0,4,Q,WX485,2,5,12,19,3,6,8,3,[6101],"[4389, 5634, 4469, 1994]"
1,DFF_1_Q_reg,SDFFX1,"D(WX486),SI(WX485),SE(test_se),CLK(CK)",0,4,Q,WX487,6,7,14,25,4,4,7,3,[3910],"[3347, 6101, 4469, 1994]"
2,DFF_2_Q_reg,SDFFX1,"D(WX488),SI(WX487),SE(test_se),CLK(CK)",0,4,Q,WX489,6,11,20,31,5,4,5,3,[555],"[708, 3910, 4469, 1994]"
3,DFF_3_Q_reg,SDFFX1,"D(WX490),SI(WX489),SE(test_se),CLK(CK)",0,4,Q,WX491,6,11,24,37,6,4,5,3,[4542],"[4419, 555, 4469, 1994]"
4,DFF_4_Q_reg,SDFFX1,"D(WX492),SI(WX491),SE(test_se),CLK(CK)",0,4,Q,WX493,6,11,24,41,7,4,5,3,[4942],"[3029, 4542, 4469, 1994]"

In [117]:
int(net['ID'].loc[net["Net"] == 'CK'].values)

1994

In [116]:
d['CK']

1994